* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體 ;
    }
nav{
    background-color: rgba(0, 0, 0, 0.3);
    height: 100px;
    position:  fixed;
    width: 100%;

    a{
        padding: 30px;
        text-decoration: none;
        display: inline-block;
        color: #fff;
        font-size: 30px;
        }
    }

section{
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    font-size: 80px;
    color: #fff;


    &:nth-of-type(odd) {
        background-color: lightblue;
        }
     &:nth-of-type(even) {
        background-color: pink;
        }
        
    }
#arrow{
    background-image: url(./iconfinder_up-menu-arrow-botton_2203525.png);
    position: fixed;
    z-index: 2;
    width: 32px;
    height: 32px;
    right: 30px;
    bottom: 30px;
}